<div class="accounts">
  <p class="account-name" (click)="setActiveButton('all')" [class.active]="activeButton === 'all'">All</p>
  <p class="account-name" (click)="setActiveButton('cash')" [class.active]="activeButton === 'cash'">Cash</p>
  <p class="account-name" (click)="setActiveButton('bank')" [class.active]="activeButton === 'bank'">Bank</p>
  <p class="account-name" (click)="setActiveButton('nequi')" [class.active]="activeButton === 'nequi'">Nequi</p>
  <p class="account-name" (click)="setActiveButton('daviplata')" [class.active]="activeButton === 'daviplata'">Daviplata</p>
  <p class="account-name" (click)="setActiveButton('avvillas')" [class.active]="activeButton === 'avvillas'">Av Villas</p>
</div>