@import "/tokens/_spacing";
@import "/tokens/_typography";

.category-container {
  .enabled-categories,
  .disabled-categories {
    .subtitle {
      font-size: $font-size-medium;
      margin-block-start: 1rem;
    }
    .category-summary {
      display: flex;
      flex-direction: column;
      margin-block: 0.5rem;
    }
  }
}
.overhang {
  height: 7.5rem;
}

@media (min-width: $breakpoint-medium) {
  .category-container {
    .enabled-categories {
      .subtitle {
        margin-block-start: 0rem;
      }
    }
  }
}