@import "/tokens/_colors";
@import "/tokens/_typography";

.btn-basic,
.btn-primary,
.btn-secondary {
  width: 100%;
  cursor: pointer;
  border: none;
  border: 0.1rem solid $text-input-border;
  border-radius: 0.8rem;
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;
  height: 3.2rem;

  &:hover {
    background-color: $very-light-gray;
  }
}

.btn-primary {
  background-color: $primary-action;
  color: $white;

  &:hover {
    background-color: $primary-action-hover;
  }
}

.btn-secondary {
  background-color: $white;
  color: $primary-action;
}
