@import "/tokens/_colors";

.headerbar {
  display: flex;
  justify-content: space-evenly;

  .headerbar__logo,
  .headerbar__search,
  .headerbar__user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .headerbar__logo {
    width: 4.5rem;
  }
  
  .headerbar__search {
    display: flex;
    width: 65%;
    .input {
      width: 100%;
    }
  }
  .headerbar__avatar {
    display: grid;
    place-content: center;
    width: 4.5rem;
  }
}
