<div class="transaction-form">
  <h1 class="form__register--title">New Transaction Register</h1>
  <form
    class="form__transaction"
    [formGroup]="form"
    novalidate
    (ngSubmit)="createNewRegiste()"
  >
    <div>
      <div class="form__amount">
        <label class="form__label" for="amount">Amount</label>
        <input
          class="input--text"
          formControlName="amount"
          placeholder="Enter amount"
          type="number"
          name="amount"
          id="amount"
        />
      </div>
      <div *ngIf="form.controls.amount.touched && form.controls.amount.invalid">
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.amount.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
      </div>
    </div>

    <div>
      <div class="form__source-account">
        <label class="form__label" for="sourceAccount">
          {{
            transactionDetail.type != "transfer" ? "Account" : "Source account"
          }}
        </label>
        <select
          class="input--text"
          name="sourceAccount"
          id="sourceAccount"
          formControlName="sourceAccount"
        >
          <option selected *ngIf="this.transactionDetail.date === ''">
            {{ cashAccount.accountName }}
          </option>
          <option
            *ngFor="let account of accounts$"
            [ngValue]="account.accountName"
            [selected]="transactionDetail.date === ''
            ? account.accountName === 'Cash'
            : account.accountName === transactionDetail.sourceAccountName
            "
          >
            {{ account.accountName }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="transactionDetail.type === 'transfer'">
      <div class="form__destination-account">
        <label class="form__label" for="destination-account"
          >Destination account</label
        >
        <select
          class="input--text"
          name="sourceAccount"
          id="sourceAccount"
          formControlName="destinationAccount"
        >
          <option *ngFor="let account of accounts$">
            {{ account.accountName }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <div class="form__category">
        <label class="form__label" for="category">Category</label>
        <select
          class="input--text"
          name="category"
          id="category"
          formControlName="category"
        >
          <option selected *ngIf="transactionDetail.date === ''">
            {{ othersExpenseCategory.categoryName }}
          </option>
          <option
            *ngFor="let category of expenseCategories$"
            [ngValue]="category.categoryName"
            [selected]="
              transactionDetail.date === ''
                ? category.categoryName === 'Others'
                : category.categoryName === transactionDetail.category
            "
          >
            {{ category.categoryName }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <div class="form__description">
        <label class="form__label" for="description">Description</label>
        <input
          class="input--text"
          formControlName="description"
          placeholder="Enter description"
          type="text"
          name="description"
          id="description"
        />
      </div>
    </div>

    <div>
      <div class="form__date">
        <label class="form__label" for="date">Date</label>
        <input
          class="input--text"
          formControlName="date"
          placeholder="Enter date"
          type="date"
          name="date"
          id="date"
        />
      </div>
    </div>

    <div class="form__btn" *ngIf="createMode">
      <app-btn
        typeBtn="submit"
        color="btn-primary"
        [loading]="statusCreateRegister === 'loading'"
        >Create</app-btn
      >
    </div>

    <div class="form__btn" *ngIf="editMode">
      <app-btn
        typeBtn="submit"
        color="btn-primary"
        [loading]="statusCreateRegister === 'loading'"
        >Save</app-btn
      >
    </div>

    <div class="form__btn" *ngIf="viewMode">
      <app-btn
        typeBtn="button"
        color="btn-secondary"
        (click)="enableForm()"
        [loading]="statusCreateRegister === 'loading'"
        >Edit</app-btn
      >
    </div>
  </form>
</div>
