@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/atoms/_mixin-input-text";
@import "/atoms/_mixin-label-form";
@import "/atoms/_mixin-title";
@import "/atoms/_mixin-link-redirection";

.transaction-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .form__register--title {
    @include format-title-form;
  }

  .form__transaction {
    width: 30rem;

    .input--text {
      @include format-input-text;
    }

    .form__label {
      @include format-label-form;
    }

    .form__description,
    .form__amount,
    .form__category,
    .form__source-account,
    .form__destination-account,
    .form__date {
      display: flex;
      flex-direction: column;
      margin-block-start: 1.2rem;
    }

    .form__btn {
      margin-block-start: 3rem;
    }
  }
}
