<div class="dialog-new-register">
  <div class="header">
    <div (click)="close()" role="button" class="user__nav">
      <fa-icon [icon]="faArrowLeft" class="icon"></fa-icon>
    </div>
    <div *ngIf="showIconfaEllipsisVertical" [cdkMenuTriggerFor]="menu" role="button" class="user__nav">
      <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
    </div>
  </div>
  <div class="dialog__account--form">
    <app-account-form [accountDetail]="accountDetail" (closeDialog)="onCloseDialog()"></app-account-form>
  </div>
</div>

<ng-template #menu>
  <div class="dialog-menu" cdkMenu>
    <button (click)="deleteAccount()" class="dialog-menu-item" cdkMenuItem>Delete</button>
    <button *ngIf="accountDetail.available !== false" (click)="updateAccountAvailability(false)" class="dialog-menu-item" cdkMenuItem>Disable</button>
    <button *ngIf="accountDetail.available !== true" (click)="updateAccountAvailability(true)" class="dialog-menu-item" cdkMenuItem>Enable</button>
  </div>
</ng-template>