<app-account-layout
  >
  <div class="account-container"> 
    <h3 class="subtitle">Available</h3>
    
    <div class="account-summary">
      <app-account-detail></app-account-detail>
      <app-account-detail></app-account-detail>
      <app-account-detail></app-account-detail>
    </div>
    
    
    <h3 class="subtitle">Disabled</h3>
    <div class="account-summary">
      <app-account-detail></app-account-detail>
      <app-account-detail></app-account-detail>
      <app-account-detail></app-account-detail>
    </div>
  </div>

</app-account-layout>
