@import "/tokens/_typography";
@import "/tokens/_spacing";

.account-container {
  .enabled-accounts,
  .disabled-accounts {
    .subtitle {
      font-size: $font-size-medium;
      margin-block-start: 1rem;
    }
    .account-summary {
      display: flex;
      flex-direction: column;
      margin-block: 0.5rem;
    }
  }
}
.overhang {
  height: 7.5rem;
}

@media (min-width: $breakpoint-medium) {
  .account-container {
    .enabled-accounts {
      .subtitle {
        margin-block-start: 0rem;
      }
    }
  }
}
