@import "/tokens/_typography";

.account-container {
  .enabled-accounts,
  .disabled-accounts {
    .subtitle {
      font-size: $font-size-medium;
      margin-block-start: 2rem;

    }
    .account-summary {
      display: flex;
      flex-direction: column;
      margin-block: 0.5rem;
    }
  }
}
.overhang {
  height: 7.5rem;
}