@import "/tokens/_colors";
@import "/tokens/_spacing";
@import "/tokens/_typography";

.dialog-new-register {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: relative;

  .header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 32rem;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    .user__nav {
      cursor: pointer;

      .icon {
        font-size: 2.5rem;
      }
    }
    .user__nav:nth-child(2) {
      padding-inline: 1rem;
    }
  }

  .dialog__transaction--form {
    height: 100%;
  }
}

.dialog-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 10rem;
  max-width: 15rem;
  background-color: $expense-detail;
  padding: 0.6rem 0;
  border-radius: 0.8rem;

  .dialog-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    font-size: $font-size-medium;
    font-weight: $font-weight-bold;

    user-select: none;
    min-width: 6.4rem;
    line-height: 3.6rem;
    padding: 0 1.6rem;
  }

  .dialog-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }

  .dialog-menu-item:active {
    background-color: rgb(170, 170, 170);
  }
}

@media (min-width: $breakpoint-medium) {
  .dialog-new-register {
    padding: 3rem 6rem 5rem 6rem;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
    height: auto;
    background-color: $white;
    border-radius: 0.8rem;

    .header {
      padding: 1rem 4rem;
      height: 6rem;
    }

    .dialog__transaction--form {
      padding-block-start: 4rem;
    }
  }

  .dialog-menu {
    margin-left: -80px;
  }
}
