<div class="login__line--division">
  <app-horizontal-line class="horizontal-line"></app-horizontal-line>
  <p class="login__line--text">or</p>
  <app-horizontal-line class="horizontal-line"></app-horizontal-line>
</div>
<div class="login__social-media">
  <p class="login__social-media--text"><ng-content></ng-content></p>
  <div class="login__cards--social-media">
    <div class="card--social-media">
      <img class="login__img--social-media" src="/assets/icons/icon-google.png" alt="">
    </div>
    <div class="card--social-media">
      <img class="login__img--social-media" src="/assets/icons/icon-facebook.png" alt="">
    </div>
  </div>
</div>