<div class="login">
  <app-background></app-background>
  <!-- <div class="login__card--main">
    <app-header></app-header>
    <div class="login__interactive">
      <div class="login__form">
        <app-login-form></app-login-form>
      </div>
      <hr class="hr" />
      <div
        class="login__redirec"
      >
        <a routerLink="/forgot-password" class="login__link--recovery">Can't log in?</a>
        <span class="">•</span>
        <a routerLink="/register" class="login__link--register"
          >Sign up for an account</a
        >
      </div>
    </div>
    <app-footer></app-footer>
  </div> -->
</div>
