@import "/tokens/_spacing";
@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/atoms/_mixin-link-redirection";

.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  
  .login__card--main {
    width: 100%;
    height: 90%;
    position: relative;
    margin: auto;
    border-radius: 0.8rem;
    width: 30.2rem;
    background-color: $white;

    .login__interactive {
      border-radius: 0.8rem;
      padding: 0.5rem;

      .login__form {
        margin-block-end: 1.6rem;
      }

      .login__recovery {
        display: flex;
        justify-content: center;
        margin-block-end: 1rem;
        .link__redirect {
          @include format-text-link-redirection;
        }
      }

      .login__line--division {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.4rem;
        .line {
          flex: 1;
          height: 0.05rem;
          background-color: $dark;
        }
        .login__line--text {
          padding: 0 1rem;
          font-size: $font-size-small;
        }
      }

      .login__social-media{
        margin-block-start: 3rem;
        .login__social-media--text{
          text-align: center;
          font-size: $font-size-between;
          font-weight: $font-weight-medium;
          color: $text-color-gray;
          margin-block-end: 1.5rem;
        }
        .login__cards--social-media{
          display: flex;
          justify-content: center;
          justify-items: center;
          align-items: center;
          gap: 2rem;
          .card--social-media{

            .login__img--social-media {
              width: 3rem;
            }
          }

        }

      }

    }
    .login__register {
      display: flex;
      justify-content: center;
      align-items: end;
      width: 100%;
      height: 20%;
      gap: 1rem;
      top: 10rem;
      .register__text-question{
        font-size: $font-size-small;
        font-weight: $font-weight-light;
        text-decoration: none;
      }
      .link__redirect {
        @include format-text-link-redirection;
      }
      
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .login {
    .login__card--main {
      width: 38.2rem;
      padding: 3.2rem 4rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;

      .login__register {
        height: 10%;
        
      }
    }
  }
}

