@import "/tokens/_spacing";
@import "/tokens/_colors";

.login {
  width: 100vw;
  height: 100vh;
  background-color: $white;

  .login__card--main {
    width: 100%;
    margin: auto;
    position: relative;

    .login__interactive {
      background-color: $white;
      border-radius: 0.8rem;
      padding: 1.6rem;

      .login__form {
        margin-block-end: 1.6rem;
      }

      .hr {
      }

      .login__redirec {
        login__link--recovery {
        }
        .login__span {
        }
        .login__link--register {
        }
      }
    }
  }
}

@media (min-width: $breakpoint-small) {
  .login {
    background-color: $very-light-gray;
  
    .login__card--main {
      width: 60%;
  
      .login__interactive {
        .login__form {
        }
  
        .hr {
        }
  
        .login__redirec {
          login__link--recovery {
          }
          .login__span {
          }
          .login__link--register {
          }
        }
      }
    }
  }

}

@media (min-width: $breakpoint-medium) {
  .login {
  
    .login__card--main {
      width: 50%;
  
      .login__interactive {
        padding-inline: 3.6rem;

        .login__form {
        }
  
        .hr {
        }
  
        .login__redirec {
          login__link--recovery {
          }
          .login__span {
          }
          .login__link--register {
          }
        }
      }
    }
  }
}
@media (min-width: $breakpoint-large) {
  .login {
  
    .login__card--main {
      width: 35%;
      
      .login__interactive {
        .login__form {
        }
  
        .hr {
        }
  
        .login__redirec {
          login__link--recovery {
          }
          .login__span {
          }
          .login__link--register {
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-extra-large) {
  .login {
  
    .login__card--main {
  
      .login__interactive {
        .login__form {
        }
        .hr {
        }
  
        .login__redirec {
          login__link--recovery {
          }
          .login__span {
          }
          .login__link--register {
          }
        }
      }
    }
  }
}
