<div [ngClass]="getTransactionTypeClass()">
  <div class="transfer-detail" (click)="openDialogViewTransaction()">
    <div class="transfer__info--left">
      <p class="transfer__description"> {{ transaction.description }} </p>
      <p class="transfer__date"> {{ formattedTransactionDate }} </p>
    </div>
    <div class="transfer__info--right">
      <p class="transfer__amount"> {{ transaction.amount | currency:'COP':'$':'1.2-2' }} </p>
      <div class="transfer__accounts">
        <p class="transfer__account"> {{ transaction.sourceAccountName }} </p>
        <div class="icon" *ngIf="transaction.type == 'transfer' ">
          <fa-icon class="icon__arrow" [icon]="faArrowRight"></fa-icon>
        </div>
        <p class="transfer__account" *ngIf="transaction.type == 'transfer' "> {{ transaction.destinationAccountName }} </p>
      </div>
    </div>
  </div>
</div>