@import "/tokens/_colors";
@import "/tokens/_typography";

@mixin format-transaction-detail($bg-color) {
  .transfer-detail {
    background-color: $bg-color;
    border: 0.2rem solid $bg-color;
    border-radius: 0.8rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .transfer__info--left,
    .transfer__info--right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .transfer__description {
        font-size: $font-size-medium;
        text-align: start;
      }

      .transfer__date {
        font-size: $font-size-small;
        text-align: start;
        padding-inline-start: 1rem;
      }

      .transfer__amount {
        font-size: $font-size-medium;
        text-align: end;
      }

      .transfer__accounts {
        display: flex;
        justify-content: end;
        padding-inline-end: 0.5rem;
        .transfer__account {
          font-size: $font-size-small;
          margin-inline-start: 0.5rem;
        }
      }

      .icon {
        margin-inline-start: 0.5rem;
      }
    }

    &:hover {
      background-color: rgba($bg-color, 0.7);
    }
  }
}

.income {
  @include format-transaction-detail($income-detail);
}

.expense {
  @include format-transaction-detail($expense-detail);
}

.transfer {
  @include format-transaction-detail($transfer-detail);
}
