<div class="transfer-detail">
  <div class="transfer__info">
    <div class="transfer__icon">
      <fa-icon [icon]="faWallet"></fa-icon>
    </div>
    <div class="transfer__info">
      <div class="transfer__info--left">
        <p class="transfer__description">Cat food mirringo</p>
        <p class="transfer__date">Thu, 25</p>
      </div>
      <div class="transfer__info--right">
        <p class="transfer__amount">- $25.000</p>
        <p class="transfer__category">Pets</p>
      </div>
    </div>
  </div>
</div>
