@import "/tokens/_typography";
@import "/tokens/_colors";
@import "/tokens/_spacing";
@import "/atoms/_mixin-input-text";

.filter-date {
  display: flex;
  justify-content: space-evenly;

  .btn-date__arrow {
    width: 6rem;
    color: $white;
    font-size: 3rem;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;

    // &:hover {
    //   border: 0.1rem solid $midnightBlue;
    //   border-radius: 50%;
    // }
  }
  .date {
    display: grid;
    place-content: center;
    .input--date {
      @include format-input-text;
      font-weight: $font-weight-bold;
      border: 0.1rem solid rgba($gunmetal, 0.3);
      cursor: pointer;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .filter-date {
    justify-content: start;
    .btn-date__arrow {
      display: none;
    }
    .date {
      .input--date {
        width: 18rem;
      }
    }
  }
}
