@import "/tokens/_colors";
@import "/atoms/_mixin-input-text";
@import "/tokens/_spacing";

.input-search {
  position: relative;
  .input {
    @include format-input-text;
    width: 100%;
  }
  .faMagnifyingGlass {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    cursor: pointer;

    .faMagnifyingGlass--img {
      width: 2rem;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .input-search {
    width: 18rem;
  }
}
