@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.button--new {
  display: grid;
  place-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: $midnightBlue;
  color: $white;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 5px 3px rgba($text-input-border-active, 0.5);
  padding: 0.2rem 0 0 0.1rem;
}

.button__primary {
  display: none;
}

@media (min-width: $breakpoint-medium) {
  .button--new {
    display: none;
  }

  .button__primary {
    display: block;
    width: 100%;
  }
}
