@import "/tokens/_typography";
@import "/tokens/_colors";
@import "/tokens/_spacing";

.navbar {
  height: 6rem;
  padding: 1rem 0.5rem;
  max-width: 50rem;
  margin: 0 auto;

  .navbar__logo {
    display: none;
  }
  .navbar__logo--sections {
    height: 100%;
    .navbar__sections {
      display: flex;
      justify-content: space-between;
      padding-inline: 0.5rem;
      align-items: center;
      gap: 0.5rem;
      height: 100%;
      width: 100%;

      .navbar__item {
        display: grid;
        place-content: center;
        min-width: 10rem;
        width: 14rem;
        height: 100%;
        border-radius: 0.8rem;
        border: 0.1rem solid $platinum;
        cursor: pointer;

        .navbar__text {
          text-align: center;
          font-size: $font-size-between;
          font-weight: $font-weight-bold;
          color: $text-color-white;
        }

        &:hover,
        &.active {
          background-color: $platinum;
          .navbar__text {
            color: $midnightBlue;
          }
        }
      }

      // .navbar__item.navbar__item--transactions {
      //   // display: none;
      // }
      .navbar__item.navbar__item--reports {
        display: none;
      }

      // .navbar__home {
      //   display: grid;
      //   place-content: center;
      //   width: 4rem;
      //   height: 100%;
      //   background-image: url("/assets/icons/home.png");
      //   background-size: cover;
      //   background-repeat: no-repeat;
      //   border: 0.15rem solid $primary-action;
      //   border-radius: 50%;
      //   cursor: pointer;

      //   &:hover,
      //   &.active {
      //     background-image: url("/assets/icons/home-hover.png");
      //   }
      // }
    }
  }

  .navbar-search-input {
    display: none;
  }

  .navbar__notification {
    display: none;
  }

  .navbar__avatar {
    display: none;
  }

  .navbar__footer {
    display: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .navbar {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(12, 1fr);
    max-width: $breakpoint-large;
    height: 100%;
    padding: 0rem 4rem 0rem 3rem;
    margin: 0 auto;

    background-color: transparent;

    .navbar__logo--sections {
      grid-area: 1 / 1 / 2 / 10;
      justify-self: start;
      display: flex;

      .navbar__logo {
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        width: 100%;
        height: 100%;
        .navbar__logo--component {
          display: grid;
          place-content: center;
          width: 5rem;
          min-width: 5rem;
        }
        .navbar__logo--name {
          display: flex;
          align-items: center;
          font-size: $font-size-large;
          color: $white;
          margin: 0 0.5rem 0 0.5rem;
          width: 9rem;
        }
      }

      .navbar__sections {
        max-width: 40rem;
        justify-content: end;

        .navbar__item {
          background-color: $midnightBlue;
          border: none;
          height: 4rem;
          width: 15rem;

          .navbar__text {
            color: $text-color-white;
            font-size: $font-size-medium;
            font-weight: $font-weight-medium;
          }

          &:hover,
          &.active {
            background-color: $gunmetal;
            .navbar__text {
              color: $text-color-white;
            }
          }
        }

        .navbar__home {
          display: none;
        }

        .navbar__item.navbar__item--transactions {
          display: grid;
        }
      }
    }

    .navbar__avatar {
      grid-area: 1 / 12 / 2 / 13;
      display: grid;
      place-content: center;
      width: 5rem;
    }

    .navbar__notification {
      grid-area: 1 / 11 / 2 / 12;
      display: grid;
      justify-self: end;
      align-self: center;
      padding: 0.2rem;
      border: 0.1rem solid transparent;
      width: auto;
      cursor: pointer;

      .navbar__bell {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline-start: 0.18rem;
        background-color: transparent;
        border: none;
        color: $opalBlue;
        font-size: 1.8rem;
        height: 2.1rem;
        width: 2rem;
        cursor: pointer;
      }
      &:hover {
        border: 0.1rem solid $white;
        border-radius: 50%;
        .navbar__bell {
          color: $white;
          font-size: 1.4rem;
          padding-inline-start: 0.1rem;
          padding-block-start: 0.05rem;
        }
      }
    }
    // .navbar__footer {
    //   grid-area: 12 / 1 / 13 / 2;
    //   width: 100%;
    //   align-self: end;
    //   padding-block-end: 1rem;
    //   color: $white;
    // }
  }
}
