@import "/tokens/_typography";
@import "/tokens/_colors";
@import "/tokens/_spacing";

.navbar {
  background-color: white;
  height: 5rem;
  padding: 1rem 0.5rem 0 0.5rem;

  min-width: 30rem;

  .navbar__logo {
    display: none;
  }

  .navbar__sections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;

    .navbar__item {
      display: grid;
      place-content: center;
      width: 26%;
      height: 100%;
      border-radius: 0.8rem;
      border: 0.1rem solid $primary-action;
      cursor: pointer;

      .navbar__text {
        text-align: center;
        font-size: $font-size-between;
        font-weight: $font-weight-bold;
        color: $text-color-primary;
      }

      &:hover,
      &.active {
        background-color: $primary-action;
        .navbar__text {
          color: $white;
        }
      }
    }

    .navbar__item.navbar__item--transactions {
      display: none;
    }

    .navbar__home {
      display: grid;
      place-content: center;
      width: 4rem;
      height: 100%;
      background-image: url("/assets/icons/home.png");
      background-size: cover;
      background-repeat: no-repeat;
      border: 0.15rem solid $primary-action;
      border-radius: 50%;
      cursor: pointer;

      &:hover,
      &.active {
        background-image: url("/assets/icons/home-hover.png");
      }
    }
  }

  .navbar-search-input {
    display: none;
  }

  .navbar__notification {
    display: none;
  }

  .navbar__avatar {
    display: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .navbar {
    display: grid;
    grid-template-columns: subgrid;
    background-color: $text-input-border-active;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 7rem;

    .navbar__logo {
      grid-column: 1/2;
      display: grid;
      justify-self: center;
      align-self: center;
      width: 4.5rem;
      cursor: pointer;
    }

    .navbar__sections {
      grid-column: 2/7;

      .navbar__item {
        background-color: $text-input-border-active;
        border: 0.1rem solid $primary-action;

        .navbar__text {
          color: $text-color-dark;
        }

        &:hover,
        &.active {
          background-color: $primary-action;
          .navbar__text {
            color: $white;
          }
        }
      }

      .navbar__home {
        display: none;
      }
      
      .navbar__item.navbar__item--transactions {
        display: grid;
      }
    }

      .navbar-search-input {
        grid-column: 8/11;
        display: block;
        width: 100%;
        align-self: center;
        justify-self: center;
      }

      .navbar__notification {
        grid-column: 11/12;
        display: grid;
        justify-self: end;
        align-self: center;
        padding: 0.5rem;
        border: 0.1rem solid transparent;

        .navbar__bell {
          background-color: transparent;
          border: none;
          color: $text-color-gray;
          font-size: 2rem;
        }
        &:hover {
          border: 0.1rem solid $white;
          border-radius: 50%;
          .navbar__bell {
            color: $white;
          }
        }
      }

      .navbar__avatar {
        grid-column: 12/13;
        display: block;
        width: 4.5rem;
        align-self: center;
        justify-self: center;
      }
  }
}
