<div class="navbar">
  <div class="navbar__logo">
    <div class="navbar__logo--component">
      <app-logo></app-logo>
    </div>
    <p class="navbar__logo--name" *ngIf="showAditionalContent">Daily Expenses</p>
  </div>
  <div class="navbar__sections">
    <div class="navbar__home" (click)="setActiveButton('transactions')" [class.active]="activeButton === 'transactions'"></div>
    <div class="navbar__item navbar__item--transactions" (click)="setActiveButton('transactions')" [class.active]="activeButton === 'transactions'">
      <p class="navbar__text">Transactions</p>
    </div>
    <div class="navbar__item" (click)="setActiveButton('reports')" [class.active]="activeButton === 'reports'">
      <p class="navbar__text">Reports</p>
    </div>
    <div class="navbar__item" (click)="setActiveButton('categories')" [class.active]="activeButton === 'categories'">
      <p class="navbar__text">Categories</p>
    </div>
    <div class="navbar__item" (click)="setActiveButton('accounts')" [class.active]="activeButton === 'accounts'">
      <p class="navbar__text">Accounts</p>
    </div>
  </div>
  <div class="navbar-search-input">
    <app-search-input></app-search-input>
  </div>
  <div class="navbar__notification">
    <button class="navbar__bell">
      <fa-icon [icon]="faBell"></fa-icon>
    </button>
  </div>
  <div class="navbar__avatar">
    <div class="navbar__avatar--component">
      <app-avatar></app-avatar>
    </div>
    <p class="navbar__username" *ngIf="showAditionalContent"> {{ user$?.username }} </p>
    <p class="navbar__user--email" *ngIf="showAditionalContent"> {{ user$?.email }} </p>
  </div>
  <div class="navbar__footer" *ngIf="showAditionalContent">
    <app-footer></app-footer>
  </div>
</div>