@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.balance-container {
  width: 100%;
  padding: 1rem 1.2rem;
  .total-balance {
    background-color: $platinum;
    border-radius: 0.8rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $midnightBlue;

    .subtitle {
      display: flex;
      justify-content: space-between;

      .subtitle--text {
        font-size: $font-size-large;
        text-align: start;
      }
      .btn-show-amount {
        display: grid;
        place-content: center;
        width: 3rem;
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .balance__amount {
      .available-money {
        font-size: $font-size-medium;
        text-align: end;
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .balance-container {
    padding: 0;
    .total-balance {
      max-width: 18rem;
    background-color: rgba($opalBlue, 0.4);
    border: 0.1rem solid $midnightBlue;
    }
  }
}
