<div class="balance-container">
  <div class="total-balance">
    <div class="subtitle">
      <h2 class="subtitle--text">Total balance</h2>
      <button
        class="btn-show-amount"
        (click)="changeVisibilityStatus()"
        type="button"
      >
        <fa-icon [icon]="showAmount$ ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <app-horizontal-line></app-horizontal-line>
    <div class="balance__amount">
      @if (showAmount$) {
      <p class="available-money"> {{ availableTotalMoney$ }} </p>
      } @else {
      <p class="available-money">$***</p>
      }
    </div>
  </div>
</div>
