@import "/tokens/_spacing";

.auth__header{
  padding-block: 0rem;
  display: flex;
  justify-content: center;
  position: relative;

  .auth__logo{
    width: 15rem;
  }
  
}

@media (min-width: $breakpoint-medium) {

}