@import "/tokens/_spacing";

.auth__header{
  padding-block-start: 1.5rem;
  display: flex;
  justify-content: center;
  position: relative;

  .auth__logo{
    width: 8rem;
  }
  
}

@media (min-width: $breakpoint-medium) {

}