<button
  class="avatar-profile"
  [class.active]="isOpenOverlayMenu === true"
  (click)="isOpenOverlayMenu = !isOpenOverlayMenu"
  cdkOverlayOrigin
  #menuOverlay="cdkOverlayOrigin"
  type="button"
  id="user-menu-button"
  aria-expanded="false"
  aria-haspopup="true"
>
  <img class="avatar__icon" src="/assets/icons/user.png" alt="avatar" />
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpenOverlayMenu"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="isOpenOverlayMenu = false"
  (detach)="isOpenOverlayMenu = false"
>
  <div
    class="absolute right-0 z-10 mt-2 w-72 origin-top-right rounded-md bg-white px-2 py-2 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none divide-y divide-gray-200"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu-button"
    tabindex="-1"
  >
    <div class="py-2 px-4 text-center relative">
      <!-- <span>// TODO (Mejorar el Overlay segun la foto del 14/01/2024 6:17 pm)</span>  -->
      <span class="block text-normal text-gray-900 font-bold">Account</span>
      <button
        (click)="isOpenOverlayMenu = !isOpenOverlayMenu"
        class="block text-sm text-gray-900 absolute right-3 top-3"
      >
        <fa-icon [icon]="faClose"></fa-icon>
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img
        class="w-10 h-10 rounded-full"
        src="https://api.lorem.space/image/face?w=400&h=400"
        alt=""
      />
      <div class="space-y-1">
        <!-- <div>{{ user?.username }}</div> -->
        <div></div>
        <!*-- para lograr obtener los valores de user$ fue necesario suscribirnos enbebiendo todo el template en ng-tempalte -->
        <!-- <div class="text-sm text-gray-500">{{ user?.email }}</div> -->
        <div class="text-sm text-gray-500"></div>
      </div>
    </div>
    <!-- Active: "bg-gray-100", Not Active: "" -->
    <ul class="py-1">
      <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-100"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-0"
          >Your Profile</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-100"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-1"
          >Settings</a
        >
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-100"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-2"
          (click)="logout()"
          >Sign out</a
        >
      </li>
    </ul>
  </div>
</ng-template>
