@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.avatar-profile {
  display: grid;
  place-content: center;
  padding: 0.3rem;
  border: 0.2rem solid transparent;
  background-color: transparent;
  cursor: pointer;

  &__icon {
    width: 100%;
  }

  &:hover,
  &.active {
    border: 0.2rem solid $platinum;
    border-radius: 50%;
  }
}

