<div class="dialog-user-profile">
  <div class="header">
    <div (click)="close()" role="button" class="user__nav">
      <fa-icon [icon]="faArrowLeft" class="icon"></fa-icon>
    </div>
    <div [cdkMenuTriggerFor]="menu" role="button" class="user__nav">
      <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
    </div>
  </div>
  <div class="user-profile--form">
    <app-user-profile-form
      [userDetail]="userDetail"
      (closeDialog)="onCloseDialog()"
    ></app-user-profile-form>
  </div>
</div>

<ng-template #menu>
  <div class="dialog-menu" cdkMenu>
    <button (click)="deleteUserProfile()" class="dialog-menu-item" cdkMenuItem>
      Delete Profile
    </button>
  </div>
</ng-template>
