//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝

// Color Palette
$midnightBlue: #222831;
$gunmetal: #3d4452;
$opalBlue: #76abae;
$platinum: #eeeeee;

// General Colors
$white: #ffffff;
$black: #1c1d21;
$dark: #232830;
$gray-light: #a7a7a7;
$very-light-gray: #fafbfc;

//Input Colors
$text-input-field: #efefef;
$text-input-border: rgba(209, 213, 219, 1);
$text-input-border-active: #519af9;

// Text Colors
$text-color-dark: #232830;
$text-color-gray: #6e6e6e;
$text-color-primary: #0559d3;
$text-color-red: #ff2a2a;
$text-color-green: #007600;
$text-color-white: #ffffff;


// Action Colors
$primary-action: #0559d3;
$primary-action-hover: #2481fc;
$primary-action-focus: #2481fc;
$secondary-action: #8f97a2;

$warning-action: #ff2a2a;

// State transaction Colors
$income-detail: #82ffc5;
$expense-detail: #ff7b7b;
$transfer-detail: #ffef63d0;

// Specific Colors
$hospital-green: #acd9b2;

// Background Colors
$background-blue: #233946; // Main background in dark blue tone
