
//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝   

// Color Palette

// General Colors
$white: #f9f9f9;
$black: #1C1D21;
$dark: #232830;
$very-light-gray: #cccccc;

// Text and Input Colors
$text-input-field: #efefef;
$text-input-border: rgba(209, 213, 219, 1);
$text-input-border-active: rgba(113, 114, 115, 0.8);

// Action Colors
$primary-action: #acd9b2;   // Primary buttons
$primary-action-hover: #57a061;
$primary-action-focus: #57a061;

$secondary-action: #8F97A2; // Secondary buttons

// State Colors
$positive: #15FF93; // Positive state indicators
$negative: #F04F8D; // Negative state indicators

// Specific Colors
$hospital-green: #acd9b2;

// Background Colors
$background-blue: #233946; // Main background in dark blue tone