
//  ████████╗██╗···██╗██████╗··██████╗·
//  ╚══██╔══╝╚██╗·██╔╝██╔══██╗██╔═══██╗
//  ···██║····╚████╔╝·██████╔╝██║···██║
//  ···██║·····╚██╔╝··██╔═══╝·██║···██║
//  ···██║······██║···██║·····╚██████╔╝
//  ···╚═╝······╚═╝···╚═╝······╚═════╝·



// Tipos de letra
$font-family: 'Roboto', sans-serif;

// Tamaños de letra
$font-size-small: 1.2rem;
$font-size-medium: 1.5rem;
$font-size-large: 1.8rem;

// Pesos de la letra (bold)
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
