@import "/tokens/_spacing";
@import "/tokens/_colors";

.auth--brackground {
  width: 100%;
  height: 100%;
  position: absolute;

  .auth__img {
    display: none;
    transition: width 0.3s ease;
  }

  .auth__img--left {
    position: absolute;
    bottom: 0;
  }

  .auth__img--right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: $breakpoint-small) {

}

@media (min-width: $breakpoint-medium) {
  .auth--brackground {
    background-color: $white;
    .auth__img {
      display: block;
      width: 25%;
      max-width: 26rem;
    }
  }
}

