<div class="navbar">
  <div class="navbar__legal">
    <div class="navbar__legal--info">
      <a class="link">Privacy Policy</a>
    </div>
    <p class="navbar__legal--info">
      Copyright © {{ currentYear }} ALL RIGHTS RESERVED
    </p>
  </div>

  <div class="navbar__tecnologies">
    <p class="navbar__tecnologies--title">Technologies</p>
    <div class="navbar__tecnologies--icons">
      <span class="tecnologies--icon">
        <img
          class="icon"
          src="/assets/icons/angular-icon.svg"
          alt="angular-icon"
        />
      </span>
      <span class="tecnologies--icon">
        <img class="icon" src="/assets/icons/java-icon.svg" alt="java-icon" />
      </span>
      <span class="tecnologies--icon">
        <img
          class="icon"
          src="/assets/icons/postgre-icon.svg"
          alt="postgre-icon"
        />
      </span>
    </div>
  </div>

  <div class="navbar__social-media">
    <p class="navbar__social-media--title">Social Media Links</p>
    <div class="navbar__social-media--icons">
      <a
        class="navbar__social-media--icons--button"
        href="https://www.linkedin.com/in/luis-h-espinosa"
        target="_blank"
      >
        <img
          class="icon"
          src="/assets/icons/linkedin-icon.svg"
          alt="linkedin-icon"
        />
      </a>

      <a class="navbar__social-media--icons--button" href="mailto:luishernandoespinosa@gmail.com">
        <img class="icon" src="/assets/icons/mail-icon.svg" alt="mail-icon" />
      </a>
    </div>
  </div>
</div>
