<app-category-layout>
  <div class="category-container">
    <div class="enabled-categories" *ngIf="enabledIncomeCategories$.length > 0">
      <h3 class="subtitle">Available</h3>
      <div class="category-summary">
        @for (enabledCategory of enabledIncomeCategories$; track $index) {
          <app-category-detail [expenseCategoryDetail]="enabledCategory"></app-category-detail>
        }
      </div>
    </div>
    <div class="disabled-categories" *ngIf="disabledIncomeCategories$.length > 0">
      <h3 class="subtitle">Disabled</h3>
      <div class="category-summary">
        @for (disabledCategory of disabledIncomeCategories$; track $index) {
          <app-category-detail [expenseCategoryDetail]="disabledCategory"></app-category-detail>
        }
      </div>
    </div>
    <div class="overhang"></div>
  </div>
</app-category-layout>