<div class="dialog-new-register">
  <div class="header">
    <div (click)="close()" role="button" class="user__nav">
      <fa-icon [icon]="faArrowLeft" class="icon"></fa-icon>
    </div>
    <div *ngIf="transactionDetail.id !== null" [cdkMenuTriggerFor]="menu" role="button" class="user__nav">
      <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
    </div>
  </div>
  <app-transaction-form [transactionDetail]="transactionDetail" (closeDialog)="onCloseDialog()"></app-transaction-form>
</div>

<ng-template #menu>
  <div class="dialog-menu" cdkMenu>
  <button (click)="deleteRegister()" class="dialog-menu-item">Delete</button>
</div>
</ng-template>