<h1 class="form__title--sent" *ngIf="emailSent">Email Sent !!</h1>

<div class="check-email" *ngIf="emailSent">
  <p class="check-email__text">Check your email address and follow the instruccions</p>
  <div class="check-email__send">
    <img
    loading="lazy"
    class="check-email__image"
    src="/assets/images/check-email.jpg"
    alt="logo"
    />
  </div>
</div>

<h1 class="form__title" *ngIf="!emailSent">Password Recovery</h1>

<form class="form__forgot-password" *ngIf="!emailSent" novalidate>
  <div>
    <div class="form__email">
      <label class="form__label" for="email">Enter your email to recover your password</label>
      <input
      class="input--text"
      #nameInput
      formControlName="email"
      placeholder="Enter email"
      type="email"
      id="email"
      name="email"
      />
    </div>
    <!-- <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class=""
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class=""
      >
        This field should be a email
      </p>
    </div> -->
  </div>
  <div class="form__btn">
    <app-btn color="btn-primary"
      >Send Recovery Link</app-btn
    >
  </div>
</form>
