<h1 class="form__title">Password Recovery</h1>
<div *ngIf="emailSent">
  <div class="">
    <img
      loading="lazy"
      class=""
      src="/assets/svg/check-email.svg"
      alt="logo"
    />
  </div>
  <p>We sent a recovery link to you at</p>
  <p class=""></p>
</div>

<form class="form__forgot-password" *ngIf="!emailSent" novalidate>
  <div>
    <div class="form__email">
      <label class="form__label" for="email">Enter your email to recover your password</label>
      <input
      class="input--text"
      #nameInput
      formControlName="email"
      placeholder="Enter email"
      type="email"
      id="email"
      name="email"
      />
    </div>
    <!-- <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class=""
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class=""
      >
        This field should be a email
      </p>
    </div> -->
  </div>
  <div class="form__btn">
    <app-btn color="btn-primary"
      >Send Recovery Link</app-btn
    >
  </div>
</form>
