@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.dialog__change-password {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: relative;

  .header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 32rem;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    .user__nav {
      cursor: pointer;

      .icon {
        font-size: 2.5rem;
      }
    }
    .user__nav:nth-child(2) {
      padding-inline: 1rem;
    }
  }

  .change-password--form {
    height: 100%;
  }
}

@media (min-width: $breakpoint-medium) {
  .dialog__change-password {
    padding: 3rem 6rem 5rem 6rem;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
    height: auto;
    background-color: $white;
    border-radius: 0.8rem;

    .header {
      padding: 1rem 4rem;
      height: 6rem;
    }

    .change-password--form {
      padding-block-start: 4rem;
    }
  }
}
