@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/atoms/_mixin-input-text";
@import "/atoms/_mixin-label-form";
@import "/atoms/_mixin-title";
@import "/atoms/_mixin-link-redirection";



.form__register--title {
  @include format-title-form;
}

.form__register {
  //clases generales:
  .input--text {
    @include format-input-text;
  }

  .form__label {
    @include format-label-form;
  }

  .form__name {
    display: flex;
    flex-direction: column;
    margin-block-start: 1.2rem;
    .form__label {
    }

  }
  .form__email {
    display: flex;
    flex-direction: column;
    margin-block-start: 1.2rem;
    .form__label {
    }

  }

  .form__password {
    display: flex;
    flex-direction: column;
    margin-block-start: 1.2rem;
    position: relative;
    .input__password {
    }

    .btn-show-password {
      display: grid;
      place-content: center;
      width: 3rem;
      padding: 0.7rem;
      position: absolute;
      right: 0.6rem;
      bottom: 0rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .accept-terms {
    display: flex;
    font-size: $font-size-small;
    margin-block-start: 1rem;
    gap: 0.5rem;
    .input-check {
      cursor: pointer;
      align-self: start;
    }
  }

  .form__btn{
    margin-block-start: 1rem;
  }
}
