<!--* Transaction section floating menu -->
<div class="overlay-floating-menu" *ngIf="typeFloatingMenu === 'transactions'">
  <p class="floating-menu__title">New Register</p>
  <div class="floating-menu__btn">
    <div
      (click)="assingTransactionType('transfer'); openDialogTransaction()"
      role="button"
      class="btn-floating-menu"
    >
      <p class="floating-menu__option">Transfer</p>
      <img
        class="floating-menu__icon"
        src="assets/icons/transfer-icon.svg"
        alt="transfer-icon"
      />
    </div>
  </div>
  <div class="floating-menu__btn">
    <div
      (click)="assingTransactionType('income'); openDialogTransaction()"
      role="button"
      class="btn-floating-menu"
    >
      <p class="floating-menu__option">Income</p>
      <img
        class="floating-menu__icon"
        src="assets/icons/income-icon.svg"
        alt="income-icon"
      />
    </div>
  </div>
  <div class="floating-menu__btn">
    <div
      (click)="assingTransactionType('expense'); openDialogTransaction()"
      role="button"
      class="btn-floating-menu"
    >
      <p class="floating-menu__option">Expense</p>
      <img
        class="floating-menu__icon"
        src="assets/icons/expense-icon.svg"
        alt="transfer-icon"
      />
    </div>
  </div>
</div>

<!--* Category section floating menu -->
<div class="overlay-floating-menu" *ngIf="typeFloatingMenu === 'categories'">
  <p class="floating-menu__title">New Category</p>
  <div class="floating-menu__btn">
    <div
      (click)="assingCategoryType('income'); openDialogCategory()"
      role="button"
      class="btn-floating-menu"
    >
      <p class="floating-menu__option">Income</p>
      <img
        class="floating-menu__icon"
        src="assets/icons/income-category-icon.svg"
        alt="income-icon"
      />
    </div>
  </div>
  <div class="floating-menu__btn">
    <div
      (click)="assingCategoryType('expense'); openDialogCategory()"
      role="button"
      class="btn-floating-menu"
    >
      <p class="floating-menu__option">Expense</p>
      <img
        class="floating-menu__icon"
        src="assets/icons/expense-category-icon.svg"
        alt="expense-icon"
      />
    </div>
  </div>
</div>

<!--* Account section floating menu -->
<div class="overlay-floating-menu" *ngIf="typeFloatingMenu === 'accounts'">
  <p class="floating-menu__title">New Account</p>
  <div class="floating-menu__btn">
    <div (click)="openDialogAccount()" role="button" class="btn-floating-menu">
      <p class="floating-menu__option">Create</p>
      <img
        class="floating-menu__icon"
        src="assets/icons/bank-icon.svg"
        alt="bank-icon"
      />
    </div>
  </div>
</div>
