@import "/tokens/_colors";
@import "/tokens/_typography";

.overlay-floating-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  gap: 2rem;
  background-color: $text-input-border-active;
  border-radius: 0.8rem;
  padding: 3rem 1rem 2rem 1rem;
  margin-block-end: 1.5rem;
  .floating-menu__title {
    text-align: center;
    font-size: $font-size-large;
    height: 4rem;
  }
  .floating-menu__btn {

    border: none;
    background-color: transparent;
  }
} 
