<div class="change-password-form">
  <h1 class="form__register--title">Change Password</h1>
  <form
    class="form__register"
    [formGroup]="form"
    novalidate
    (ngSubmit)="updatePassword()"
  >

    <div>
      <div class="form__password">
        <label class="form__label" for="password">Password</label>
        <input
          class="input--text"
          formControlName="password"
          placeholder="Enter password"
          [type]="showPassword ? 'text' : 'password'"
          id="password"
        />
        <button
          class="btn-show-password"
          (click)="showPassword = !showPassword"
          type="button"
        >
          <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>
      <div
        *ngIf="form.controls.password.touched && form.controls.password.invalid"
      >
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.password.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
        <!-- <span>// TODO (Configurar validaciones de nivel se seguridad de contraseña)</span> -->
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.password.hasError('minlength')"
        >
          This field should be greater than 6 characters
        </app-form-validation-message>
      </div>
    </div>

    <div>
      <div class="form__password">
        <label class="form__label" for="new-password">New password</label>
        <input
          class="input--text"
          formControlName="newPassword"
          placeholder="Enter new password"
          [type]="showNewPassword ? 'text' : 'password'"
          id="new-password"
        />
        <button
          class="btn-show-password"
          (click)="showNewPassword = !showNewPassword"
          type="button"
        >
          <fa-icon [icon]="showNewPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>
      <div
        *ngIf="form.controls.newPassword.touched && form.controls.newPassword.invalid"
      >
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.newPassword.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
        <!-- <span>// TODO (Configurar validaciones de nivel se seguridad de contraseña)</span> -->
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.newPassword.hasError('minlength')"
        >
          This field should be greater than 6 characters
        </app-form-validation-message>
      </div>
      <div *ngIf="form.controls.newPassword.touched">
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.hasError('match')"
          class="font-medium text-red-500 text-xs mt-1 ml-1"
        >
        The current password and new password are the same
        </app-form-validation-message>
      </div>
    </div>
    <div>
      <div class="form__password">
        <label class="form__label" for="confirm-new-password">Confirm new password</label>
        <input
          class="input--text"
          formControlName="confirmNewPassword"
          placeholder="Confirm new password"
          [type]="showConfirmNewPassword ? 'text' : 'password'"
          id="confirmPassword"
        />
        <button
          class="btn-show-password"
          (click)="showConfirmNewPassword = !showConfirmNewPassword"
          type="button"
        >
          <fa-icon [icon]="showConfirmNewPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>

      <div
        *ngIf="
          form.controls.confirmNewPassword.touched &&
          form.controls.confirmNewPassword.invalid
        "
      >
        <app-form-validation-message
          *ngIf="form.controls.confirmNewPassword.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
        <app-form-validation-message
          *ngIf="form.controls.confirmNewPassword.hasError('minlength')"
        >
          This field should be greater than 6 characters
        </app-form-validation-message>
      </div>
    </div>
    <div *ngIf="form.controls.confirmNewPassword.touched">
      <app-form-validation-message *ngIf="form.hasError('mismatch')">
        The password are not the same
      </app-form-validation-message>
    </div>

    <div class="form__btn">
      <app-btn
        typeBtn="submit"
        color="btn-primary"
        [loading]="status === 'loading'"
        >Save</app-btn
      >
    </div>
  </form>
</div>
