<div class="dialog-new-register">
  <div class="header">
    <div (click)="close()" role="button" class="user__nav">
      <fa-icon [icon]="faArrowLeft" class="icon"></fa-icon>
    </div>
    <div *ngIf="showIconfaEllipsisVertical" [cdkMenuTriggerFor]="menu" role="button" class="user__nav">
      <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
    </div>
  </div>
  <app-category-form [categoryDetail]="categoryDetail" (closeDialog)="onCloseDialog()"></app-category-form>
</div>

<ng-template #menu>
  <div class="example-menu" cdkMenu>
    <button (click)="deleteCategory(); close()" class="example-menu-item" cdkMenuItem>Delete</button>
    <button *ngIf="categoryDetail.available === true" (click)="disableCategory(); close()" class="example-menu-item" cdkMenuItem>Disable</button>
    <button *ngIf="categoryDetail.available === false" (click)="enableCategory(); close()" class="example-menu-item" cdkMenuItem>Enable</button>
  </div>
</ng-template>
