
<div class="user-form">
  <h1 class="form__register--title">Edit Profile</h1>
  <form
    class="form__user"
    [formGroup]="form"
    novalidate
    (ngSubmit)="updateUserProfile()"
  >
    <div>
      <div class="form__name">
        <label class="form__label" for="name">Name</label>
        <input
          class="input--text"
          formControlName="name"
          placeholder="Enter name"
          type="text"
          name="name"
          id="name"
        />
      </div>
      <div *ngIf="form.controls.name.touched && form.controls.name.invalid">
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.name.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
      </div>
    </div>
    <div>
      <div class="form__email">
        <label class="form__label" for="email">Email</label>
        <input
          class="input--text input__email"
          formControlName="email"
          placeholder="Enter email"
          type="email"
          name="email"
          id="email"
        />
      </div>
      <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.email.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.email.hasError('email')"
        >
          This field should be a email
        </app-form-validation-message>
      </div>
    </div>

    <div *ngIf="emailChanged">
      <div class="form__password">
        <label class="form__label" for="password">Password</label>
        <input
          class="input--text"
          formControlName="password"
          placeholder="Enter password"
          [type]="showPassword ? 'text' : 'password'"
          id="password"
        />
        <button
          class="btn-show-password"
          (click)="showPassword = !showPassword"
          type="button"
        >
          <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>
      <div
        *ngIf="form.controls.password.touched && form.controls.password.invalid"
      >
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.password.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
        <!-- <span>// TODO (Configurar validaciones de nivel se seguridad de contraseña)</span> -->
        <app-form-validation-message
          class="form__validation-message"
          *ngIf="form.controls.password.hasError('minlength')"
        >
          This field should be greater than 6 characters
        </app-form-validation-message>
      </div>
    </div>

    <!-- <div>
      <div class="form__password">
        <label class="form__label" for="confirmPassword">Password</label>
        <input
          class="input--text"
          formControlName="confirmPassword"
          placeholder="Confirm password"
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
        />
        <button
          class="btn-show-password"
          (click)="showConfirmPassword = !showConfirmPassword"
          type="button"
        >
          <fa-icon [icon]="showConfirmPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>

      <div
        *ngIf="
          form.controls.confirmPassword.touched &&
          form.controls.confirmPassword.invalid
        "
      >
        <app-form-validation-message
          *ngIf="form.controls.confirmPassword.hasError('required')"
        >
          This field is mandatory
        </app-form-validation-message>
        <app-form-validation-message
          *ngIf="form.controls.confirmPassword.hasError('minlength')"
        >
          This field should be greater than 6 characters
        </app-form-validation-message>
      </div>
    </div>
    <div *ngIf="form.controls.confirmPassword.touched">
      <app-form-validation-message *ngIf="form.hasError('mismatch')">
        The password are not the same
      </app-form-validation-message>
    </div> -->
    


    <div class="form__btn">
      <app-btn
        typeBtn="submit"
        color="btn-primary"
        [loading]="status === 'loading'"
        >Save</app-btn
      >
    </div>
  </form>
</div>
