<h1 class="form__recovery--title">Set your new password</h1>
<form class="form__recovery" action="">
  <div>
    <div class="form__password">
      <label class="form__label" for="password">New password</label>
      <input
        class="input--text"
        type="password"
        id="password"
      />
      <button
        class="btn-show-password"
        (click)="showPassword = !showPassword"
        type="button"
      >
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <!-- <div>
      <p class="form__validation-message">
        This field is mandatory
      </p>
   <span>// TODO (Configurar validaciones de nivel se seguridad de contraseña)</span>
      <p class="form__validation-message">
        This field should be greater than 6 characters
      </p>
    </div> -->
  </div>
  <div>
    <div class="form__password">
      <label class="form__label" for="password">Confrim password</label>
      <input
        class="input--text"
        type="password"
        id="password"
      />
      <button
        class="btn-show-password"
        (click)="showPasswordConfirm = !showPasswordConfirm"
        type="button"
      >
        <fa-icon [icon]="showPasswordConfirm ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <!-- <div>
      <p class="form__validation-message">
        This field is mandatory
      </p>
   <span>// TODO (Configurar validaciones de nivel se seguridad de contraseña)</span>
      <p class="form__validation-message">
        This field should be greater than 6 characters
      </p>
    </div> -->
  </div>

  <div class="form__btn">
    <app-btn color="btn-primary">Recovery</app-btn>
  </div>
</form>
