<div [ngClass]="getTransactionTypeClass()">
  <div class="account-detail" (click)="openDialogViewTransaction()">
    <div class="account__name">
      <p class="account__neme--text">{{ accountDetail.accountName }}</p>
      <!-- <button
        class="btn-show-pamount"
        (click)="showAmount$ = !showAmount$"
        type="button"
        *ngIf="accountDetail.available === true"
      >
        <fa-icon [icon]="showAmount$ ? faEye : faEyeSlash"></fa-icon>
      </button> -->
    </div>
    <app-horizontal-line *ngIf="accountDetail.available === true"></app-horizontal-line>
    <div class="account__description" *ngIf="accountDetail.available === true">
      <div class="account__info--left">
        <p class="account__balance">Balance</p>
      </div>
      <div class="account__info--right">
        @if (showAmount$) {
        <p class="account__amount">{{ accountDetail.availableMoney }}</p>
        } @else {
        <p class="account__amount">$***</p>
        }
      </div>
    </div>
  </div>
</div>
