@import "/tokens/_colors";
@import "/tokens/_typography";

.enabled {
  .account-detail {
    background-color: $hospital-green;
    border: 0.1rem solid $hospital-green;
    border-radius: 0.8rem;
    padding: 0.6rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: padding 0.2s ease, margin 0.2s ease;
    margin-block: 0.5rem;

    .account__name {
      display: flex;
      justify-content: space-between;

      .account__neme--text {
        font-size: $font-size-large;
        text-align: start;
      }
      .btn-show-amount {
        display: grid;
        place-content: center;
        width: 3rem;
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }

    .account__description {
      display: flex;
      justify-content: space-between;

      .account__info--left,
      .account__info--right {
        .account__amount,
        .account__balance {
          font-size: $font-size-medium;
          text-align: end;
        }
      }
    }
    &:hover {
      background-color: rgba($hospital-green, 0.7);
      border: 0.1rem solid $midnightBlue;
      padding: 1rem 1.5rem;
      transition: padding 0.2s ease, margin 0.2s ease;
      margin-block: 0.3rem;
    }
  }
}

.disabled {
  .account-detail {
    background-color: $gray-light;
    border: 0.1rem solid $gray-light;
    border-radius: 0.8rem;
    padding: 0.6rem 1.5rem;
    margin-block: 0.5rem;
    cursor: pointer;

    .account__name {
      .account__neme--text {
        font-size: $font-size-medium;
        text-align: start;
      }
    }
    &:hover {
      background-color: rgba($gray-light, 0.7);
      border: 0.1rem solid $midnightBlue;
      padding: 1rem 1.5rem;
      transition: padding 0.2s ease, margin 0.2s ease;
      margin-block: 0.3rem;
    }
  }
}
