<div class="transaction-filter">
  <div
    class="filter__item filter__item--all"
    role="button"
    routerLink="/transactions"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
  <!-- <span> //TODO (Cambiar estos div al elemento boton) </span> -->
    <p class="filter__text">All</p>
  </div>
  <div
    class="filter__item"
    role="button"
    routerLink="/transactions/expenses"
    routerLinkActive="active"
  >
    <p class="filter__text">Expenses</p>
    <p class="filter__text filter__text--expense"> {{ totalExpenses$ }} </p>
  </div>
  <div
    class="filter__item"
    role="button"
    routerLink="/transactions/incomes"
    routerLinkActive="active"
  >
    <p class="filter__text">Incomes</p>
    <p class="filter__text filter__text--income"> {{ totalIncomes$ }} </p>
  </div>
  <div
    class="filter__item"
    role="button"
    routerLink="/transactions/transfers"
    routerLinkActive="active"
  >
    <p class="filter__text">Transfers</p>
  </div>
</div>
