@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.account-layout {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;

  .headerbar {
    grid-area: 1 / 1 / 2 / 13;
    width: 100%;
  }

  .account__total-balance {
    grid-area: 2 / 1 / 3 / 13;
    width: 100%;
    justify-self: center;
    box-shadow: 0px 3px 5px rgba($text-input-border-active, 0.5);
    z-index: 1;
  }

  .account-content {
    grid-area: 4 / 1 / 5 / 13;
    height: 100%;
    width: 100%;
    padding: 1rem 1.2rem;
    overflow-y: auto;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

  }

  .account__floating-button {
    grid-area: 4 / 9 / 5 / 13;
    align-self: end;
    justify-self: end;
    margin-block-end: 2rem;
    margin-inline-end: 2rem;
  }

}