<div class="account-layout">
  <div class="headerbar">
    <app-headerbar></app-headerbar>
  </div>
  <div class="account__total-balance">
    <app-total-balance></app-total-balance>
  </div>
  <div class="account-content">
    <ng-content></ng-content>
  </div>
  <div class="account__floating-button">
    <app-floating-button
      (click)="changeStateOverlayFloatingMenu()"
      cdkOverlayOrigin
      #OverlayFloatingMenu="cdkOverlayOrigin"
      type="button"
      aria-expanded="false"
      aria-haspopup="true"
    ></app-floating-button>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="OverlayFloatingMenu"
  [cdkConnectedOverlayOpen]="isOpenOverlayFloatingMenu$"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="changeStateOverlayFloatingMenu()"
  (detach)="isOpenOverlayFloatingMenu$ = false"
>
  <div>
    <app-floating-menu [typeFloatingMenu]="typeFloatingMenu"></app-floating-menu>
  </div>
</ng-template>
