<div class="account-layout">
  <div class="account__header--background"></div>
  <div class="headerbar">
    <app-headerbar></app-headerbar>
  </div>
  <div class="account__total-balance">
    <h3 class="filter__subtitle">Balance</h3>
    <app-total-balance></app-total-balance>
  </div>
  <div class="account-content">
    <ng-content></ng-content>
  </div>
  <app-floating-button
    class="floating-button"
    (click)="changeStateOverlayFloatingMenu()"
    cdkOverlayOrigin
    #OverlayFloatingMenu="cdkOverlayOrigin"
    type="button"
    aria-expanded="false"
    aria-haspopup="true"
    >New Account</app-floating-button
  >
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="OverlayFloatingMenu"
  [cdkConnectedOverlayOpen]="isOpenOverlayFloatingMenu$"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="changeStateOverlayFloatingMenu()"
  (detach)="isOpenOverlayFloatingMenu$ = false"
>
  <div>
    <app-floating-menu
      [typeFloatingMenu]="typeFloatingMenu"
    ></app-floating-menu>
  </div>
</ng-template>
