@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.account-layout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;

  .account__header--background {
    grid-area: 1 / 1 / 3 / 13;
    background-color: $midnightBlue;
    border-bottom: 1px solid $primary-action;
    box-shadow: 0px 3px 5px rgba($text-input-border-active, 0.5);
  }

  .headerbar {
    grid-area: 1 / 1 / 2 / 13;
    padding-block-start: 1rem;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }

  .account__total-balance {
    grid-area: 2 / 1 / 3 / 13;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    justify-self: center;
  }

  .account-content {
    grid-area: 3 / 1 / 4 / 13;
    padding: 1rem 1.2rem;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .account__floating-button {
    grid-area: 3 / 1 / 4 / 13;
    align-self: end;
    padding-block-end: 2rem;
    padding-inline-end: 2rem;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;

    display: flex;
    justify-content: end;

    .floating-button {
      display: flex;
      justify-content: end;
    }
  }
}
