@import "/tokens/_colors";
@import "/tokens/_spacing";
@import "/atoms/_mixin-link-redirection";


.auth__footer {
  text-align: center;

  .link__redirection{
    @include format-text-link-redirection;
  }
}

@media (min-width: $breakpoint-medium) {
  
  .auth__footer {
    text-align: center;
  
    .link__redirection{
      @include format-text-link-redirection;
      color: $black;
    }
  }
}