@import "/tokens/_colors";
@import "/tokens/_spacing";

.horizontal-line {
  margin-block: 1rem;
  flex: 1;
  height: 0.05rem;
  background-color: $black;

}

@media (min-width: $breakpoint-medium) {
  .horizontal-line {
    margin-block: 1rem;
  }
}
