@import './styles/tokens/reset';
@import './styles/tokens/typography';


body {
  font-family: $font-family;
  width: 100vw;
  height: 100vh;
}

// Linea requerida para dialogs y demas
@import '@angular/cdk/overlay-prebuilt.css';


