<app-transaction-layout>
  <div class="transaction-sumary">
    <app-transaction-detail color="expense" ></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail color="expense"></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail color="expense"></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail color="transfer"></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
  </div>
</app-transaction-layout>