<app-transaction-layout>
  <div class="transaction-sumary">
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
    <app-transaction-detail></app-transaction-detail>
  </div>
</app-transaction-layout>