@import "/tokens/_typography";
@import "/tokens/_colors";
@import "/tokens/_spacing";
@import "/atoms/_mixin-input-text";

.filter-date {
  display: flex;
  justify-content: space-evenly;

  .date__arrow {
    display: grid;
    place-content: center;
    margin: 0 6%;
    width: 4rem;
    height: 4rem;

    .date__arrow--image {
      width: 2rem;
    }

    &:hover {
      border: 0.1rem solid $primary-action;
      border-radius: 50%;
    }
  }
  .date {
    display: grid;
    place-content: center;
    .input--date {
      @include format-input-text;
      font-weight: $font-weight-bold;
      border: 0.1rem solid $primary-action;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .filter-date {
    .date__arrow {
      display: none;
    }
  }
}
