@import "/tokens/_colors";
@import "/tokens/_typography";

@mixin categoryDetailStyle($color) {
  .category-container {
    .category-detail {
      background-color: $color;
      border: 0.2rem solid $color;
      border-radius: 0.8rem;
      padding: 0.6rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      .category__name {
        display: flex;
        justify-content: space-between;

        .category__neme--text {
          font-size: $font-size-large;
          text-align: start;
        }
      }

      &:hover {
        background-color: rgba($color, 0.7);
      }
    }
  }
}

.enabled {
  @include categoryDetailStyle($hospital-green);
}

.disabled {
  @include categoryDetailStyle($gray-light);
  .category-container {
    .category-detail {
      .category__name {
        .category__neme--text {
          font-size: $font-size-medium;
        }
      }
    }
  }
}
