@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.transaction-layout {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;

  .headerbar,
  .date-filter,
  .transaction-filter {
    width: 100%;
  }

  .headerbar {
    grid-area: 1 / 1 / 2 / 13;
  }

  .date-filter {
    grid-area: 2 / 1 / 3 / 13;
  }
  .transaction-filter {
    grid-area: 3 / 1 / 4 / 13;
    box-shadow: 0px 3px 5px rgba($text-input-border-active, 0.5);
    padding-block-end: 0.5rem;

    .filter__subtitle {
      display: none;
    }
  }
  .transaction-content {
    grid-area: 4 / 1 / 5 / 13;
    height: 100%;
    width: 100%;
    justify-self: center;
    padding: 1rem 1.2rem;
    overflow-y: auto;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

  }

  .transaction__floating-button {
    grid-area: 4 / 9 / 5 / 13;
    align-self: end;
    justify-self: end;
    margin-block-end: 2rem;
    margin-inline-end: 2rem;
  }


  .account-filter {
    display: none;
  }
  .transaction__search {
    display: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .transaction-layout {
    grid-template-rows: repeat(12, 1fr);
    background-color: $white;
    border-radius: 0.8rem;
    height: 100%;
    width: 100%;

    .headerbar {
      display: none;
    }

    .transaction-filter {
      grid-area: 3 / 2 / 8 / 5;
      box-shadow: none;
      border: 0.1rem solid rgb(192, 192, 192);
      border-radius: 0.8rem;
      padding: 2rem;
      width: 100%;

      .filter__subtitle {
        display: block;
        font-size: $font-size-medium;
        margin-block-end: 1.5rem;
      }
    }

    .account-filter {
      grid-area: 8 / 2 / 12 / 5;
      display: block;
      border: 0.1rem solid rgb(192, 192, 192);
      border-radius: 0.8rem;
      padding: 2rem;
      width: 100%;
      height: 100%;

      .filter__subtitle {
        font-size: $font-size-medium;
        margin-block-end: 1.5rem;
      }
      .account-filter--wrapper {
        overflow-y: auto;
        height: 83%;
        border-radius: 0.8rem;
        padding-block: 0.1rem;

        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .date-filter {
      grid-area: 1 / 2 / 3 / 5;
      justify-self: start;
      align-self: center;
      width: 100%;
    }

    .transaction__search {
      grid-area: 1 / 1 / 3 / 13;
      display: block;
      height: 50%;
      width: 95%;
      background-color: $text-input-border-active;
      border-radius: 0.8rem;
      align-self: center;
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      .transaction__search--input {
        grid-area: 1 / 6 / 3 / 12;
        align-self: center;
        justify-self: center;
        width: 90%;
      }
    }

    .transaction-content {
      grid-area: 3 / 6 / 13 / 12;
      max-width: 55rem;
      height: 95%;
      justify-self: center;
      border-radius: 0.8rem;
      border: 0.1rem solid $primary-action;
      padding: 0 3rem;
    }
  }
}
