@import "/tokens/_colors";
@import "/tokens/_typography";
@import "/tokens/_spacing";

.transaction-layout {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;

  .transaction__header--background {
    grid-area: 1 / 1 / 4 / 13;
    background-color: $midnightBlue;
    border-bottom: 1px solid $primary-action;
    box-shadow: 0px 3px 5px rgba($text-input-border-active, 0.5);
  }

  .headerbar {
    grid-area: 1 / 1 / 2 / 13;
    padding-block-start: 1rem;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }

  .transaction__sidebar {
    grid-area: 2 / 1 / 4 / 13;

  .tansaction__date-filter {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }
  .transaction-filter {
    padding-block-end: 0.5rem;
    z-index: 1;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }
  }
  .transaction-content {
    grid-area: 4 / 1 / 5 / 13;
    display: grid;
    padding: 0 1.2rem;
    height: calc(100vh - 14.4rem - 6rem);
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    position: relative;

    .content {
      overflow-y: auto;
      scrollbar-width: none;
      padding-block-start: 0.5rem;
    }

    .floating-button {
      grid-area: 1/ 1 / 1 / 1;
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }

  .transaction__search {
    display: none;
  }
  .transaction__filter-title {
    display: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .transaction-layout {
    grid-template-rows: repeat(18, 1fr);
    background-color: transparent;
    border-radius: 0.8rem;
    height: 100%;
    width: 100%;

    .transaction__header--background,
    .headerbar {
      display: none;
    }

    .transaction__sidebar {
      grid-area: 2 / 2 / 18 / 5;

      .transaction__search {
        display: block;
      }

      .tansaction__date-filter {
        justify-self: start;
        align-self: start;
        width: 100%;
        margin-block-start: 2rem;
      }

      .transaction-filter {
        box-shadow: none;
        border-radius: 0.8rem;
        margin-block-start: 2rem;
      }
    }

    .transaction__filter-title {
      display: block;
      font-size: $font-size-medium;
      margin-block-end: 0.5rem;
    }

    .transaction-content {
      grid-area: 2 / 5 / 18 / 12;
      max-width: 55rem;
      height: 100%;
      justify-self: center;
      border-radius: 0.8rem;
      box-shadow: 0px -3px 5px rgba($opalBlue, 0.5),
        0px 3px 5px rgba($opalBlue, 0.5);
      padding: 2.5rem 3rem;

      .content {
        padding-block-start: 0;
      }

      .floating-button {
        width: 20rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
