<div class="transaction-layout">
  <div class="headerbar">
    <app-headerbar></app-headerbar>
  </div>
  <div class="date-filter">
    <app-date-filter></app-date-filter>
  </div>
  <div class="transaction-filter">
    <h3 class="filter__subtitle">Transactions</h3>
    <app-transaction-filter></app-transaction-filter>
  </div>
  <div class="account-filter">
    <h3 class="filter__subtitle">Accounts</h3>
    <p class="filter__subtitle">All</p>
    <p class="filter__subtitle">Cash</p>
    <p class="filter__subtitle">Bank</p>
  </div>
  <div class="transaction-content">
    <ng-content></ng-content>
  </div>
</div>
